.App {
  display: flex;
  min-height: 100vh;
  background-color: #C5E0E0;
}

.page {
  flex: 1;
  margin-top: 250px;
  margin-left: 40%;
  //padding: 70px;
  background-color: #C5E0E0;
  display: flow;
}
