h1{
  padding-top: 20px;
  padding-left: 50px;
  margin-bottom: 70px;
  font-family: "Monospace", monospace;
}

form{
  padding-left: 50px;
}

label{
  display: block;
  flex-direction: column;
  margin-bottom: 30px;
  font-weight: 500;
  font-family: "Monospace", monospace;
}

label input,
label select {
  margin-left: 20px;

}

button{
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}